@model IEnumerable<RestockVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QTY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orderdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arriveddate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orderstatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QTY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orderdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arriveddate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orderstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                <button data-id="@item.Id" class="btn btn-danger deleteBtn" type="button">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>

<form id="deleteForm" asp-action="Delete">
        <input type="hidden" id="restockId" name="Id"/>
 </form>

@section Scripts{
    <script>
        $(function(){
            $('.deleteBtn').click(function(e){
                swal({
                    title: "Your about to delete an record!!!",
                    text: "Are you sure you want to deleted this recard?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) =>{
                    if(confirm){
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#restockId').val(id);
                        $('#deleteForm').submit();
                    }
                });
            });
        });
    </script>
}
